{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Error {{ code }}</div>

                    <div class="card-body">
                        {{ text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}