{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        {% if message is defined %}
                            <div style="color: #1c7430;">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                        {% if error is defined %}
                            <div style="color: #ff0000;">
                                <p>{{ error }}</p>
                            </div>
                        {% endif %}
                        <form method="post" action="/" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="file-csv" class="col-md-3 col-form-label text-md-right">File</label>
                                <div class="col-md-9">
                                    <input id="file-csv" type="file" name="csv" {# accept=".csv"#} required class="form-control" >
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product name</th>
                                    <th>Qty</th>
                                    <th>Warehouses</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if products is not empty %}
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product['title'] }}</td>
                                            <td>{{ product['quantity'] }}</td>
                                            <td>{{ product['warehouse']|join(', ') }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3"> There is no products </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}